<html>
<head>
    <meta charset="utf-8"/>
    <title>GPU App</title>

</head>
<body bgcolor="#e6e6fa">

<table style="text-align:center; color: white; width: 100%" border="0" cellpadding="5"
       cellspacing="5" bgcolor="#00008b">
    {% if user %}
    <tr>
        <td width="33%" align="left">
            {{ user.email() }}
        </td>
        <th width="33%">
            <h3>GPU Application</h3>
        </th>
        <td width="33%" align="right">
            <a href="/details?gpu_entry={{ gpu_entry.gpu_name }}">
                <button>Back</button>
            </a>
        </td>
    </tr>
</table>
{% else %}
<table style="text-align:center; color: white; width: 100%" border="0" cellpadding="5"
       cellspacing="5" bgcolor="#00008b">
    <tr>
        <td width="33%" align="left">
            Welcome Guest
        </td>
        <th width="33%">
            <h3>GPU Application</h3>
        </th>
        <td width="33%" align="right">
            <a href="/">
                <button>Back</button>
            </a>
        </td>
    </tr>
</table>
{% endif %}


{% if user %}
<table style="text-align:center; width: 100%" border="0" cellpadding="5"
       cellspacing="5" bgcolor="#b0c4de">
    <tr>
        <th width="50%">
            <form action="/update" method="post">
                <table width="100%" cellpadding="5" frame="box">
                    <tr>
                        <th colspan="2" bgcolor="#8a2be2">
                            Update GPU Information
                        </th>
                    </tr>
                    <tr>
                        <td align="right">
                            <label>
                                GPU Name :
                            </label>
                        </td>
                        <td align="left">
                            <input type="text" name="gpu_name" required="required" value="{{ gpu_entry.gpu_name }}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label>
                                Manufacturer :
                            </label>
                        </td>
                        <td align="left">
                            <input type="text" name="gpu_mfg" required="required" value="{{ gpu_entry.gpu_mfg }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label>
                                Issued On :
                            </label>
                        </td>
                        <td align="left">
                            <input type="date" name="gpu_isdt" required="required" id="date" value="{{ gpu_entry.gpu_isdt }}"/>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"> Geometry Shader :
                        </td>
                        <td>
                            <input type="checkbox" name="gpu_geomsh" {{ "checked" if gpu_entry.gpu_geomsh else "" }}/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> Tesselation Shader :
                        </td>
                        <td>
                            <input type="checkbox" name="gpu_tessesh" {{ "checked" if gpu_entry.gpu_tessesh else "" }}/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> Shader Int16 :
                        </td>
                        <td>
                            <input type="checkbox" name="gpu_shint16" {{ "checked" if gpu_entry.gpu_shint16 else "" }}/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> Sparse Binding :
                        </td>
                        <td>
                            <input type="checkbox" name="gpu_sparbind" {{ "checked" if gpu_entry.gpu_sparbind else "" }}/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> Texture Compression <br/>ETC2 :
                        </td>
                        <td>
                            <input type="checkbox" name="gpu_texcompetc2" {{ "checked" if gpu_entry.gpu_texcompetc2 else "" }}/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"> Vertex Pipeline Stores <br/>And Atomics :
                        </td>
                        <td>
                            <input type="checkbox" name="gpu_vxpipeline" {{ "checked" if gpu_entry.gpu_vxpipeline else "" }}/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left">
                            <input type="submit" value="Submit">
                            <input type="reset" value="Reset">
                        </td>
                    </tr>
                </table>
            </form>
        </th>
        <th valign="top" width="50%">

        </th>
    </tr>
</table>
{% endif %}
</body>
</html>